$color_1: #77d900;// 主要なボタンやCTA要素に使用する、明るくエネルギッシュな緑色
$color_2: #fcc800;// ヘッダーやタイトルテキスト、強調部分に使用する目立つ黄色
$color_3: #f5e56b;// 背景やカード、パネルに使用する落ち着いた黄色。読みやすさと明るさを保つ
$color_4: #d2b74e;// サブテキスト、フッター、または注釈に使用するダークイエロー
$color_5: #f8b500;// ナビゲーションメニューやアイコン、小さなアクセントに使用する鮮やかな黄色
$color_6: #fff33f;// 背景色として、または軽いテキストに使用する非常に明るい黄色
$color_7: #fff2b8;// メインコンテンツの背景色。明るくて読みやすい
$color_8: #ffdc00;// 見出しやアクセントテキスト、またはボーダーに使用する黄色
$color_9: #fff262;// ハイライトまたは注目させる要素に使用する明るい黄色
$color_10: #007c45;// 強調したいテキストやアイコン、またはCTAボタンに使用する濃い緑色
$color_11: #4f8a5d;// サブテキストや補足情報に使用する中間の緑色
$color_12: #005842;// テキストやボーダーでの強調、またはダークモードの背景に使用する濃い緑色
$color_13: #67be8d;// 背景や大きな領域に使用する明るく穏やかな緑色
$color_14: #009854;// アクセントや強調したいボタンに使用する明るい緑色
$color_15: #00aa6e;// 成功メッセージや健康関連のアイコンに使用する中間の緑色
$color_16: #98ce97;// 背景や非アクティブな要素に使用する淡い緑色
$color_17: #3ab483;// ホバー状態やアクティブな要素に使用する鮮やかな緑色
$color_18: #258c6d;// 強調や警告、エラーメッセージに使用する深い緑色
$color_19: #2f2725;// テキスト、特に見出しや強調テキストに使用するダークブラウン
$color_20: #fbfdff;// サイト全体の背景色に使用する、ほぼ白色
$color_21: #ced1d3;// 基本的な文字色やボーダー、シャドウに使用する灰色