@use "../abstracts/colors" as abstracts;
@use "../abstracts/media-query" as *;

.subtitle {
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: 600;
    color: abstracts.$color_11;
    font-size: 1.7em;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
    text-shadow: 0.5px 0.5px 2px rgba(255, 255, 255, 0.4);
}
// タブレット向けのスタイル
@include mq("tb") {
    .subtitle {
        font-size: 1.4em;
    }
  }

  // スマートフォン向けのスタイル
  @include mq("sp") {
    .subtitle {
        font-size: 1.1em;
    }
  }

  // 大画面向けのスタイル
  @include mq("big") {
    .subtitle {
        font-size: 2em;
    }
  }